*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{

background:#f2f2f2;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:500px;

background:white;

padding:25px;

border-radius:10px;

box-shadow:0 0 15px rgba(0,0,0,.2);

}

h1{

text-align:center;

margin-bottom:20px;

}

label{

font-size:18px;

font-weight:bold;

}

select,input{

width:100%;

padding:12px;

margin-top:10px;

margin-bottom:10px;

border:1px solid #ccc;

border-radius:6px;

font-size:16px;

}

button{

width:100%;

padding:12px;

border:none;

background:#673ab7;

color:white;

font-size:18px;

border-radius:6px;

cursor:pointer;

}

button:hover{

background:#512da8;

}
